<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="contacts-list1">
      <label class="item item-input" id="contacts-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar" id="contacts-list-item1" ui-sref="eugene()">
        <img src="img/81mHFCszQGKN74tEoE1v_eu.jpg">
        <h2>Eugene</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item2" ui-sref="harvey()">
        <img src="img/I5k1SkcRNGDz4F7pJtJH_ha.jpg">
        <h2>Harvey</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item3" ui-sref="henry()">
        <img src="img/VdW57F1hQxC9hxH1lSJY_he.jpg">
        <h2>Henry</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item4" ui-sref="jericho()">
        <img src="img/rKdGMovYSiJgDtOHzp7Z_je.jpg">
        <h2>Jericho</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item5" ui-sref="miguel()">
        <img src="img/hnNT40JkRy6FI7MktEPr_mi.jpg">
        <h2>Miguel</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item10" ui-sref="rocco()">
        <img src="img/annRqSibRTSVZqGXqLRN_ro.jpg">
        <h2>Rocco</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item9" ui-sref="reyvie()">
        <img src="img/I8Xf1XaS129soAE0xwsw_re.png">
        <h2>Reyvie</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item6" ui-sref="ederick()">
        <img src="img/0k5ureURTizJjunF8DqG_ed.jpg">
        <h2>Ederick</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item7" ui-sref="peter()">
        <img src="img/26UDwyCRMCRk6bTJcSvS_pe.jpg">
        <h2>Peter</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item8" ui-sref="sese()">
        <img src="img/5qFR0WNlQqI3ctBff1Pn_se.jpg">
        <h2>Sese</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>